<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2 th:text="${event.name}"></h2>
    <p th:text="${event.startDate}"></p>
    <p th:text="${event.finishDate}"></p>
    <p th:text="${'Place: ' + event.place.name + ' ' + event.place.country + ' : ' + event.place.city + ' city : address ' + event.place.street + ' ' + event.place.number}"></p>
    <div class="comments"></div>
    <h3>Comments</h3>
    <div class="comments">
        <div th:each="comment : ${event.comments}">
            <h4 th:text="${comment.user.username}"></h4>
            <p th:text="${comment.rating}"></p>
            <p th:text="${comment.text}"></p>
        </div>
    </div>
    <form action="#" th:action="@{/comments/{id}(id=${event.id})}" th:object="${comment}" method="post">
        <textarea placeholder="Write your comment" th:field="*{text}"></textarea>
        <input type="number" min="1" max="5" placeholder="rating" th:field="*{rating}">
        <input type="submit" value="Add comment">
    </form>
</div>
</body>
</html>