<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/register}" th:object="${userDto}" method="post">
        <input type="text" placeholder="username" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        <br/>
        <input type="password" placeholder="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <br/>
        <input type="password" placeholder="repeat password" th:field="*{repeatPassword}">
        <span th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></span>
        <br/>
        <input type="submit" value="Register">
    </form>
</body>
</html>